{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.edit_contact'|trans }}
{% endblock %}

{% block body %}
    {% if contact is defined and contact|length %}
        <h1>{{ contact.name }}</h1>
        <dl>
            <dt>{{ 'label.contact_name'|trans }}</dt>
            <dd>{{ contact.name }}</dd>
            <dt>{{ 'label.phone'|trans }}</dt>
            <dd>{{ contact.phone }}</dd>
        </dl>
        <a href="{{ url('contact_index') }}" title="back to contacts">Back to contacts</a>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}