{% extends 'base.html.twig' %}

{% block title %}
    Edit contact
{% endblock %}

{% block body %}
    {% if contact is defined and contact|length %}
        <h1>Edit Contact {{ contact.name }}</h1>
        <dl>
            <dt>Contact Name</dt>
            <dd>{{ contact.name }}</dd>
            <dt>Phone number</dt>
            <dd>{{ contact.phone }}</dd>
            <dt>Tags</dt>
            <dd>{{ contact.tags|join(', ') }}</dd>
        </dl>
        <a href="{{ url('contact_index') }}" title="back to contacts">Back to contacts</a>
    {% else %}
        <p>
            Contact not found.
        </p>
    {% endif %}
{% endblock %}