{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.contact_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.contact_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id', 'contact.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.contact_name', 'contact.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.phone', 'contact.phone') }}</th>
                <th scope="col">
                    {{ 'label.actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>
                        <a href="{{ url('contact_show', {'id': contact.id}) }}" title="edit contact">Edit contact</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="{{ url('event_index') }}" title="go to events">Go to events</a>
    {% else %}
        <p>
            List is empty.
        </p>

        <a href="{{ url('event_index') }}" title="go to events">Go to events</a>
    {% endif %}
{% endblock  %}