{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.upcoming_events_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.upcoming_events_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.event_name'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.category_name'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date|format_datetime('long') }}</td>
                    <td>{{ event.category.name }}</td>

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% for tag in event.tags %}
                                    <li class="dropdown-item">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href="{{ url('event_show', {'id': event.id}) }}" title="show event">{{ 'show.event'|trans}}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.no_data'|trans }}
        </p>
    {% endif %}
    <div class="link-centered">
        <a href="{{ url('event_index') }}" title="go to events">{{ 'events.link'|trans }}</a>
        <a href="{{ url('contact_index') }}" title="go to contacts">{{ 'contacts.link'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('category_index') }}" title="go to categories">{{ 'categories.link'|trans }}</a>
        <a href="{{ url('tag_index') }}" title="go to tags">{{ 'tags.link'|trans }}</a>
        <a href="{{ url('user_index') }}" title="go to user">{{ 'users.link'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}