{% extends 'base.html.twig' %}

{% block title %}
    {{ user.email }}
{% endblock %}

{% block body %}
    {% if user is defined and user|length %}
        <dl>
            <dt>{{ 'label.user_email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    <a href="{{ url('user_index') }}" title="go to user">{{ 'users.link'|trans }}</a>
{% endblock %}