{% extends 'base.html.twig' %}

{% block title %}
    Events
{% endblock %}

{% block body %}
    <h1>Events</h1>
    {% if events is defined and events|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Event Name</th>
                <th>Date and Time</th>
                <th>Categories</th>
                <th>Tags</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.datetime }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url('event_show', {'id': event.id}) }}" title="edit event">Edit event</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ url('contact_index') }}" title="go to contacts">Go to contacts</a>
    {% else %}
        <p>
            List is empty.
        </p>
    {% endif %}
{% endblock  %}