{% extends 'base.html.twig' %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block body %}
    {% if event is defined and event|length %}
        <h1>{{ event.name }}</h1>
        <dl>
            <dt>{{ 'label.event_name'|trans }}</dt>
            <dd>{{ event.name }}</dd>
            <dt>{{ 'label.date'|trans }}</dt>
            <dd>{{ event.date|format_datetime('long')}}</dd>
            <dt>{{ 'label.category'|trans}}</dt>
            <dd>{{ event.category.name }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    <a href="{{ url('event_index') }}" title="go to events">{{ 'events.link'|trans }}</a>
{% endblock %}